@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--== 5. Header ==-->
<section id="header-slider" class="owl-carousel">
    <div class="item">
        <div class="container">
            <div class="header-content">
                <h1 class="header-title">Gesund und gut</h1>
                <p class="header-sub-title">psssst! Gesundes darf auch schmecken</p>
            </div> <!-- /.header-content -->
        </div>
    </div>
    <div class="item">
        <div class="container">
            <div class="header-content">
                <h1 class="header-title">Lust auf<br/>was süsses?</h1>
                <p class="header-sub-title">Sündigen ohne Reuhe</p>
            </div> <!-- /.header-content -->
        </div>
    </div>
    <div class="item">
        <div class="container">
            <div class="header-content text-right pull-right" style="padding-right: 50px;">
                <h1 class="header-title">Getr&auml;nke</h1>
                <p class="header-sub-title">etwas für die heissen Tagen</p>
            </div> <!-- /.header-content -->
        </div>
    </div>
</section>
